.header-th {
    color: gray;
    font-weight: normal;
    font-size: 14px;
    background-color: white;
}

/* Aplicar la fuente a todos los textos del componente */
app-consultar-seguimientos {
  font-family: 'Montserrat', sans-serif;
}

.p-card .p-card-content {
    padding-top: 0px !important;
}

/* Estilos de tabla */
.p-datatable table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.p-datatable th, .p-datatable td {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  color: #333;
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6; /* Solo muestra la línea inferior */
}

.button-group button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
}

.button-group button.active {
  background-color: #73b7ad !important;
  color: white;
}
