<body class="formato-fondo fuente-letra">

  <div class="row align-items-center">

    <p-card>
      <!--form-->
        <div class="row">
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Ciudad y fecha</div>
            <div class="col">
              <p>{{ city }}, {{ formattedDate }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Membrete</div>
            <div class="col">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="membrete" />
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Entidad*</div>
            <div class="col">
              <select class="form-select" aria-label="entidadId" id="entidadId" name="entidadId" [(ngModel)]="nombreEntidad">
                <option [value]=""></option>
                <option *ngFor="let entidad of listaEndidades" [value]="entidad.nombre">
                    {{ entidad.nombre }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Ciudad</div>
            <div class="col">
              <input type="text" class="form-control" placeholder="" [(ngModel)]="ciudad" />
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Asunto*</div>
            <div class="col">
              <textarea class="form-control" rows="2" placeholder="" [(ngModel)]="asunto"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Mensaje*</div>
            <div class="col">
              <textarea class="form-control" rows="8" placeholder="" [(ngModel)]="mensaje"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Alerta</div>
            <div class="col">
              <b>{{ alerta?.categoriaAlerta }} - {{ alerta?.subcategoriaAlerta }}</b>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Comentario 1</div>
            <div class="col">
              <!--p-editor [(ngModel)]="comentario1" [style]="{ height: '320px' }" /-->
              <textarea class="form-control" rows="6" placeholder="" [(ngModel)]="comentario1"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">NNA</div>
            <div class="col">
              <div class="row">
                <b>Nombres y apellidos: {{ nombreNNA }}</b>
              </div>
              <div class="row">
                <b>Identificación: {{ NNAdatos?.tipoIdentificacionId}} {{ NNAdatos?.numeroIdentificacion }}</b>
              </div>
              <div class="row">
                <b>Edad: {{ edadNNA }}</b>
              </div>
              <div class="row">
                <b>Diagnostico: {{ diagnosticoNNA }}</b>
              </div>
              <div class="row">
                <b>Teléfono del acudiente: {{ NNAdatos?.cuidadorTelefono }}</b>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Cierre*</div>
            <div class="col">
              <textarea class="form-control" rows="5" placeholder="" [(ngModel)]="cierre"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-2" style="font-weight: bold;">Firma*</div>
            <div class="col" id="elementToCapture">
              <p-editor [(ngModel)]="firma" [style]="{ height: '320px' }" />
            </div>
          </div>
        </div>
      <!--/form-->
      <div class="text-center">
        <button (click)="verificarCampos()" class="btn btn-primary">GENERAR OFICIO Y ENVIAR NOTIFICACION</button>
      </div>

    </p-card>
  </div>




</body>
