/***************** Estilos titulo y botones cabecera *****************/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top-right-buttons {
    display: flex;
}

.btn-general {
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
}

.btn-crear {
    background-color: #FF9801;
}

.btn-crear:hover {
    background-color: #ff9901b9;
    color: white;
}

.btn-notificacion {
    background-color: #73B7AD;
}

.btn-notificacion:hover {
    background-color: #73b7adc0;
    color: white;
}


/***************** Estilos rectangulo filtros *****************/

.btn-buscar {
    background-color: #73B7AD;
    margin: 0 5px;
}

.btn-buscar:hover {
    background-color: #73b7adca;
    /* Color de fondo al pasar el cursor */
}

/***************** Estilos rectangulo con tabla *****************/

.rectangle {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th {
    text-align: center;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    color: #B5B7C0;
}

.data-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.data-table td {
    text-align: center;
    /* Centra el texto en las celdas de datos */
}

.data-table th:first-child,
.data-table td:first-child {
    text-align: left;
    /* Alinea la primera columna a la izquierda */
}

.btn-round {
    width: 35px;
    /* Ajusta el tamaño según sea necesario */
    height: 35px;
    /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    /* Hace que el botón sea redondo */
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #73B7AD;
    /* Color de fondo */
    color: white;
    /* Color del icono */
    font-size: 16px;
    cursor: pointer;
}

.btn-round .pi {
    font-size: 15px;
    /* Ajusta el tamaño del icono */
}

.btn-round:hover {
    background-color: #73b7adca;
    /* Color de fondo al pasar el cursor */
}

.table-actions {
    text-align: center;
    vertical-align: middle;
}

.no-records {
    text-align: center;
    font-weight: bold;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}