<body class="formato-fondo fuente-letra">
    <div class="header-container">
        <h1>EAPB</h1>
        <div class="top-right-buttons">
            <button type="button" class="btn-general btn-crear" (click)="onCreate()">Crear</button>
            <button class="btn-general btn-notificacion">Notificaciones</button>
        </div>
    </div>

    <app-modal-crear [item]="selectedItem" [isEditing]="isEditing"></app-modal-crear>

    <div class="rectangle">

        <div class="container mt-4">
            <div class="row align-bottom">
                <div class="col-md-4">
                    <select id="mySelect" class="form-select" [(ngModel)]="selectedArea" (change)="onAreaChange()">
                        <option value="">Todas las EAPB</option>
                        <option value="EPS Sanitas">EPS Sanitas</option>
                        <option value="EPS Compensar">EPS Compensar</option>
                        <option value="EPS Cafam">EPS Cafam</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="onSearchTermChange()" placeholder="Buscar...">
                        <div class="input-group-append">
                            <button class="btn btn-buscar" type="button"><i class="pi pi-search"></i></button>
                            <button class="btn btn-secondary" type="button" (click)="clearFilters()"><i class="pi pi-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div>
            <table class="data-table">
                <thead>
                    <tr>
                        <th>EAPB</th>
                        <th>Nombres y apellidos</th>
                        <th>Cargo</th>
                        <th>Numero de contacto</th>
                        <th>Correo electronico</th>
                        <th>Estado</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="paginatedData.length === 0">
                        <td colspan="7" class="no-records">No se encontraron registros</td>
                    </tr>
                    <tr *ngFor="let item of paginatedData">
                        <td>{{ item.eapb }}</td>
                        <td>{{ item.nombreApe }}</td>
                        <td>{{ item.cargo }}</td>
                        <td>{{ item.telefono }}</td>
                        <td>{{ item.correo }}</td>
                        <td>{{ item.estado }}</td>
                        <td class="table-actions">
                            <button class="btn-round" (click)="onEdit(item)">
                                <i class="pi pi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class="pagination-controls">
            <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn-round"><i class="pi pi-angle-left"></i></button>
            <span style="margin: 0 20px;">{{ currentPage }}</span>
            <button (click)="nextPage()" [disabled]="currentPage * pageSize >= data.length" class="btn-round"><i class="pi pi-angle-right"></i></button>
        </div>
    </div>
</body>