<div class="row" *ngIf="seguimientos.length > 0">
  <div class="col-12">
    <p-card>
      <p-table [value]="seguimientos" [responsive]="true"
        [paginator]="true" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
      >
          <ng-template pTemplate="header">
              <tr>
                  <th class="header-th" [width]="100">Fecha seguimiento</th>
                  <th class="header-th" [width]="120">Asunto</th>
                  <th class="header-th" [width]="100">Alertas</th>
                  <th class="header-th" [width]="170">Entidad sobre la que se genera alerta</th>

                  <th class="header-th" [width]="120">Fecha Notificación</th>
                  <th class="header-th" [width]="120">Respuesta de la entidad</th>
                  <th class="header-th" [width]="120">Fecha de respuesta</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-seguimiento>
              <tr>
                  <td>{{ seguimiento.fechaSeguimiento | date:'dd/MM/yyyy' }}</td>
                  <td>{{ seguimiento.asuntoUltimaActuacion }}</td>
                  <td>
                      <span *ngFor="let alerta of seguimiento.alertas" [ngClass]="getBadgeColor(alerta.id)" class="badge text-white me-1">
                      {{ alerta.nombre }}
                      </span>
                  </td>
                  <td>{{ seguimiento.entidadAlerta }}</td>
                  <td>{{ seguimiento.fechaNotificacion | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    <span>{{ stripHtml(seguimiento.respuestaEntidad) }}</span>
                    <i *ngIf="seguimiento.fechaRespuesta && seguimiento.asuntoUltimaActuacion?.toLowerCase() != 'solicitado por cuidador'" style="color: #73b7ad; cursor: pointer; margin-left: 6px;" class="bi bi-eye-fill" (click)="cargarRespuestas(seguimiento.id)"></i>
                  </td>
                  <td>{{ seguimiento.fechaRespuesta | date: 'dd/MM/yyyy' }}</td>
              </tr>
          </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<app-ver-respuesta [show]="showDialog" [notificacionesData]="notificacionesData" (closeModal)="cerrarModal()"></app-ver-respuesta>
