/* Fuente iconografica */
@font-face {
    font-family: "govco-font";
    src: url("govco-font-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 100%;
}

.barra-superior-govco {
    align-items: center;
    background-color: #3366cc;
    width: 100%;
    height: 3rem;
    padding-left: 4.375rem;
}

.barra-superior-govco a {
    content: url(https://cdn.www.gov.co/assets/images/logo.svg);
    height: 1.875rem;
    width: 8.5rem;
}

.barra-superior-govco a:focus-visible {
    outline: max(0.125rem, 0.15em) solid #FFFFFF;
    border-radius: 0.313rem;
}

.barra-superior-govco .idioma-icon-barra-superior-govco {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.313rem;
    background-color: #FFFFFF;
    cursor: pointer;
    padding: 0;
    border: 0.125rem solid #FFFFFF;
    font-size: 10px;
    position: absolute;
    right: 5.375rem;
}

.barra-superior-govco .idioma-icon-barra-superior-govco:hover {
    background-color: #004884;
}

.barra-superior-govco .idioma-icon-barra-superior-govco:focus {
    outline: max(0.125rem, 0.15em) solid #FFFFFF;
    outline-offset: max(0.188rem, 0.15em);
}

.barra-superior-govco .idioma-icon-barra-superior-govco::before {
    font-family: "govco-font";
    content: '\ec56';
    color: #3366CC;
    font-size: 14px;
}

.barra-superior-govco .idioma-icon-barra-superior-govco:hover::before {
    color: #FFFFFF;
}

@media (max-width: 991px) {
    .barra-superior-govco {
        justify-content: center;
        padding: 0;
    }

    .barra-superior-govco .idioma-icon-barra-superior-govco {
        right: 1rem;
    }
}

.barra-superior-secani {
    display: flex;
    justify-content: space-between;
    /* Espacia los elementos */
    align-items: center;
    /* Centra verticalmente */
    padding: 1rem;
    background-color: #D9D9D9;
    color: 4D4D4D;
    position: relative;
}

.center {
    content: url(secaniGris.png);
    max-width: 380px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* Centra el texto dentro del div */
    display: flex;
    align-items: center;
}

.center .title {
    font-size: 1.5em;
    /* Tamaño de letra para "SECANI" */
    font-weight: bold;
}

.center .separator {
    margin: 0 10px;
    /* Espacio alrededor del separador */
}

.center .subtitle {
    font-size: 0.55em;
    /* Tamaño de letra para el subtítulo */
    max-width: 200px;
    /* Ancho máximo del texto para evitar que se extienda demasiado */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    text-overflow: ellipsis;
    /* Agrega puntos suspensivos al texto desbordado */
    white-space: normal;
    /* Permite saltos de línea */
    text-align: left;
}

.left,
.right {
    flex: 1;
}

.left {
  content: url(colombiaPotenciaVida.png);
  max-width: 80px;
  text-align: left;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.right-logo {
  content: url(minSalud.png);
  max-width: 80px;
}

.btn-secondary {
  display: none;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media (max-width: 991px) {
  .btn-secondary {
      display: block;
  }
}
