<div class="row">
    <div class="col-md-3 col-lg-2 d-flex flex-column formato-menu">
    <div class="menu-rq00-hu00 col-md-3 col-lg-2 d-flex flex-column">
        <app-nav-menu></app-nav-menu>
    </div>

    <main class="col-md-9 col-lg-10 main-fondo">
    <main class="col-md-9 col-lg-10" style="padding: 0;">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>        
        <footer>
            <app-footer></app-footer>
        </footer>
    </main>
</div>