<div class="container-fluid">
  <h1 class="mt-5 mb-4">Reporte dinámico EAPB</h1>

  <div class="card">
    <div class="card-body">
      <form [formGroup]="camposForm" (ngSubmit)="onSubmit()">
        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">Fecha Inicio:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-calendar
              inputId="fechaInicio"
              formControlName="fechaInicio"
              styleClass="w-100"
              [showIcon]="true"
              [iconDisplay]="'input'"
              dateFormat="dd/mm/yy"
            />
            <div style="min-height: 1.8rem;" class="mt-1">
              <div *ngIf="camposForm.get('fechaInicio')?.touched && camposForm.get('fechaInicio')?.hasError('required')" class="text-danger small">
                La fecha inicio es requerida
              </div>
              <div *ngIf="camposForm.errors?.['fechasInvalidas'] && camposForm.touched" class="text-danger small">
                La fecha inicial no puede ser mayor a la fecha final
              </div>
              <!-- Espacio reservado si no hay errores -->
              <div *ngIf="!(camposForm.get('fechaInicio')?.touched && camposForm.get('fechaInicio')?.hasError('required')) && !(camposForm.errors?.['fechasInvalidas'] && camposForm.touched)" class="invisible small">
                Placeholder
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">Fecha Fin:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-calendar
              inputId="fechaFin"
              formControlName="fechaFin"
              styleClass="w-100"
              [showIcon]="true"
              [iconDisplay]="'input'"
              dateFormat="dd/mm/yy"
            />
            <div style="min-height: 1.8rem;" class="mt-1">
              <div *ngIf="camposForm.get('fechaFin')?.touched && camposForm.get('fechaFin')?.hasError('required')" class="text-danger small">
                La fecha fin es requerida
              </div>
              <div *ngIf="camposForm.errors?.['fechaFutura'] && camposForm.touched" class="text-danger small">
                La fecha fin no puede ser mayor a la fecha actual
              </div>
              <!-- Espacio reservado si no hay errores -->
              <div *ngIf="!(camposForm.get('fechaFin')?.touched && camposForm.get('fechaFin')?.hasError('required')) && !(camposForm.errors?.['fechaFutura'] && camposForm.touched)" class="invisible small">
                Placeholder
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">Departamento:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-dropdown 
              [options]="departamentos"
              optionLabel="nombre"  
              optionValue="codigo"
              formControlName="departamento" 
              styleClass="w-100" 
              placeholder="Seleccione"
            />
          </div>

          <div class="col-12 col-sm-2 mb-2 mb-sm-0 fw-semibold">EAPB:</div>
          <div class="col-12 col-sm-4 mb-2 mb-sm-0">
            <p-dropdown 
              [options]="listaEAPB"
              optionLabel="nombre" 
              optionValue="id"
              formControlName="eapb" 
              styleClass="w-100" 
              placeholder="Seleccione"
            />
          </div>
        </div>

        <div class="row align-items-center mb-3">
          <div class="col-12 mb-4 col-sm-10 mb-sm-0">
            <p-inputGroup>
              <input class="w-100" type="text" placeholder="Buscar..." pInputText
                (input)="tabla.filterGlobal($any($event.target).value, 'contains')"
              />
              <p-inputGroupAddon>
                  <i class="pi pi-search"></i>
              </p-inputGroupAddon>
            </p-inputGroup>
          </div>
          <div class="col-12 mb-3 col-sm-2 mb-sm-0">
            <p-button severity="success" label="Agregar campos" styleClass="w-100"/>
          </div>
        </div>

        <div class="row mb-3" formArrayName="camposSeleccionados">
          @for (columna of columnasOpcionales; track columna) {
            <div class="col-md-3">
              <p-checkbox
                styleClass="my-2"
                name="group"
                [label]="columna.header"
                [binary]="true"
                (onChange)="onCheckboxChange($event, columna)">
              </p-checkbox>
            </div>
          }
        </div>
        <div class="d-flex justify-content-end mb-3">
          <div class="col-12 col-sm-2">
            <p-button type="submit" severity="success" label="Generar" styleClass="w-100" />
          </div>
        </div>
      </form>

      <div class="mt-3">
        <p-table
          #tabla
          [columns]="columnasParaMostrar"
          [value]="reportes"
          [tableStyle]="{ 'min-width': '50rem' }"
          [paginator]="true"
          [rows]="5"
          [globalFilterFields]="columnasFiltroGlobal"
          [rowsPerPageOptions]="[5, 10, 25, 50]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
        >
          <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
              Reporte dinámico EAPB
              <p-button severity="success" icon="pi pi-file-excel" (onClick)="exportExcel()"/>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              @for (col of columns; track col) {
                <th>
                  {{ col.header }}
                </th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              @for (col of columns; track col) {
                <td>
                  {{ rowData[col.field] }}
                </td>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="columnasParaMostrar.length" class="text-center">
                Reportes no encotrados.
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
