<div class="container-fluid">
  <h1 class="mt-5 mb-4">Reporte de Inconsistencias</h1>

  <div class="card">
    <div class="card-body">

      <div class="d-flex mb-5 gap-2">
        <p-button [severity]="tipoReporte === TipoReporte.GENERAL ? 'success' : 'secondary'" label="Reporte General" (click)="tipoReporte = TipoReporte.GENERAL"/>
        <p-button [severity]="tipoReporte === TipoReporte.POR_NNA ? 'success' : 'secondary'" label="Reporte por NNA" (click)="tipoReporte = TipoReporte.POR_NNA"/>
      </div>

      <!-- Reporte General -->
      <div *ngIf="tipoReporte === TipoReporte.GENERAL">
        <form [formGroup]="camposForm" (ngSubmit)="onSubmit()">
          <div class="row g-3 mb-2">
            <!-- Fecha Inicio -->
            <div class="col-12 col-md-5">
              <label for="fechaInicio" class="form-label fw-semibold">Fecha Inicio</label>
              <p-calendar inputId="fechaInicio" formControlName="fechaInicio" styleClass="w-100" [showIcon]="true"
                [iconDisplay]="'input'" dateFormat="dd/mm/yy" />
              <div style="min-height: 1.8rem;" class="mt-1">
                <div
                  *ngIf="camposForm.get('fechaInicio')?.touched && camposForm.get('fechaInicio')?.hasError('required')"
                  class="text-danger small">
                  La fecha inicio es requerida
                </div>
                <div *ngIf="camposForm.errors?.['fechasInvalidas'] && camposForm.touched" class="text-danger small">
                  La fecha inicial no puede ser mayor a la fecha final
                </div>
                <!-- Espacio reservado si no hay errores -->
                <div
                  *ngIf="!(camposForm.get('fechaInicio')?.touched && camposForm.get('fechaInicio')?.hasError('required')) && !(camposForm.errors?.['fechasInvalidas'] && camposForm.touched)"
                  class="invisible small">
                  Placeholder
                </div>
              </div>
            </div>

            <!-- Fecha Fin -->
            <div class="col-12 col-md-5">
              <label for="fechaFin" class="form-label fw-semibold">Fecha Fin</label>
              <p-calendar inputId="fechaFin" formControlName="fechaFin" styleClass="w-100" [showIcon]="true"
                [iconDisplay]="'input'" dateFormat="dd/mm/yy" />
              <div style="min-height: 1.8rem;" class="mt-1">
                <div *ngIf="camposForm.get('fechaFin')?.touched && camposForm.get('fechaFin')?.hasError('required')"
                  class="text-danger small">
                  La fecha fin es requerida
                </div>
                <div *ngIf="camposForm.errors?.['fechaFutura'] && camposForm.touched" class="text-danger small">
                  La fecha fin no puede ser mayor a la fecha actual
                </div>
                <!-- Espacio reservado si no hay errores -->
                <div
                  *ngIf="!(camposForm.get('fechaFin')?.touched && camposForm.get('fechaFin')?.hasError('required')) && !(camposForm.errors?.['fechaFutura'] && camposForm.touched)"
                  class="invisible small">
                  Placeholder
                </div>
              </div>
            </div>
            
            <!-- Botón Generar -->
            <div class="col-12 col-md-2 d-grid align-self-center">
              <p-button type="submit" severity="success" label="Generar" styleClass="w-100" />
            </div>
          </div>
        </form>

        <!-- Reporte de Inconsistencias -->
        <div class="p-4 my-3">
          <table class="custom-table text-center align-middle">
            <tr>
              <th colspan="2" class="fs-5">Reporte de Inconsistencias</th>
            </tr>
            <tr>
              <td colspan="2" class="fs-2 fw-bold">0</td>
            </tr>
            <tr>
              <td colspan="2">Total Inconsistencias</td>
            </tr>
            <tr>
              <td class="fw-bold">Periodo</td>
              <td>dd/mm/yyyy</td>
            </tr>
          </table>
        </div>

        <!-- Tabla: Inconsistencias por campo -->
        <div class="mb-4">
          <div>
            <p class="fs-5 fw-semibold">Inconsistencias por campo</p>
          </div>
          <p-table [value]="[]">
            <ng-template pTemplate="header">
              <tr>
                <th>Tipo de Identificación</th>
                <th>Nombres</th>
                <th>Sexo</th>
                <th>Fecha de Defunción</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reporte>
              <tr>
                <td>{{ reporte.tipoIdentificacion }}</td>
                <td>{{ reporte.nombres }}</td>
                <td>{{ reporte.sexo }}</td>
                <td>{{ reporte.fechaDefuncion }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0 </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- Tabla: Inconsistencias por departamento -->
        <div class="mb-4">
          <div class="row py-4">
            <div class="col">
              <p class="fs-5 fw-semibold">Inconsistencias por departamento</p>
            </div>
            <div class="col">
              <p-inputGroup>
                <input class="w-25" type="text" placeholder="Buscar..." pInputText
                  (input)="tablaDepartamento.filterGlobal($any($event.target).value, 'contains')" />
                <p-inputGroupAddon>
                  <i class="pi pi-search"></i>
                </p-inputGroupAddon>
              </p-inputGroup>
            </div>
          </div>
          <p-table #tablaDepartamento [value]="[]" [paginator]="false">
            <ng-template pTemplate="header">
              <tr>
                <th>Departamento</th>
                <th>Total Inconsistencias</th>
                <th>Porcentaje</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reporte>
              <tr>
                <td>{{ reporte.departamento }}</td>
                <td>{{ reporte.total }}</td>
                <td>{{ reporte.porcentaje }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0% </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <!-- Tabla: Inconsistencias por diagnóstico -->
        <div class="mb-4">
          <div class="row py-4">
            <div class="col">
              <p class="fs-5 fw-semibold">Inconsistencias por diagnóstico</p>
            </div>
            <div class="col">
              <p-inputGroup>
                <input class="w-25" type="text" placeholder="Buscar..." pInputText
                  (input)="tablaDiagnostico.filterGlobal($any($event.target).value, 'contains')" />
                <p-inputGroupAddon>
                  <i class="pi pi-search"></i>
                </p-inputGroupAddon>
              </p-inputGroup>
            </div>
          </div>
          <p-table #tablaDiagnostico [value]="[]" [paginator]="false">
            <ng-template pTemplate="header">
              <tr>
                <th>Diagnóstico</th>
                <th>Total Inconsistencias</th>
                <th>Porcentaje</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reporte>
              <tr>
                <td>{{ reporte.diagnostico }}</td>
                <td>{{ reporte.total }}</td>
                <td>{{ reporte.porcentaje }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td> 0 </td>
                <td> 0 </td>
                <td> 0% </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <!-- Reporte NNA -->
      <div *ngIf="tipoReporte === TipoReporte.POR_NNA">
        <form [formGroup]="camposForm" (ngSubmit)="onSubmit()">
          <div class="row align-items-end mb-3">
            <div class="col-12 col-md-5">
              <label for="nna" class="form-label fw-semibold">NNA:</label>
              <p-dropdown 
                optionLabel="nombre"  
                optionValue="codigo"
                formControlName="nna" 
                styleClass="w-100" 
                placeholder="Seleccione"
              />
            </div>

            <div class="col-12 col-md-5">
              <p-inputGroup>
                <input class="w-25" type="text" placeholder="Buscar..." pInputText
                  (input)="tabla.filterGlobal($any($event.target).value, 'contains')" />
                <p-inputGroupAddon>
                  <i class="pi pi-search"></i>
                </p-inputGroupAddon>
              </p-inputGroup>
            </div>

            <!-- Botón Generar -->
            <div class="col-12 col-md-2 d-grid align-items-end">
              <p-button type="submit" severity="success" label="Generar" styleClass="w-100" />
            </div>
          </div>
        </form>

        <div class="mt-3">
          <p-table #tabla [value]="reportes" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5"
            [globalFilterFields]="['agente', 'fechaIntento', 'observaciones']" [rowsPerPageOptions]="[5, 10, 25, 50]"
            [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}">
            <ng-template pTemplate="caption">
              <div class="d-flex align-items-center justify-content-between">
                <div class="text-center justify-content-between">
                  Inconsistencias
                </div>
                <p-button severity="success" icon="pi pi-file-excel" />
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>fecha reporte</th>
                <th>Tipo identificación SIVIGILA</th>
                <th>Tipo afiliación REAL</th>
                <th>Número indentificación SIVIGILA</th>
                <th>Número identificación REAL</th>
                <th>Primer Nombre SIVIGILA</th>
                <th>Primer Nombre REAL</th>
                <th>Segundo Nombre SIVIGILA</th>
                <th>Segundo Nombre REAL</th>
                <th>Primer Apellido SIVIGILA</th>
                <th>Primer Apellido REAL</th>
                <th>Segundo Apellido SIVIGILA</th>
                <th>Segundo Apellido REAL</th>
                <th>Fecha nacimiento SIVIGILA</th>
                <th>Fecha nacimiento REAL</th>
                <th>SexoId SIVIGILA</th>
                <th>SexoId REAL</th>
                <th>Fecha Defunción SIVIGILA</th>
                <th>Fecha Defunción REAL</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reporte>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="20" class="text-center">
                  Reportes no encotrados.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>