<body class="formato-fondo fuente-letra">
    <h1>Administración de usuarios, roles y permisos</h1>

    <div class="navbar-urp">
        <a [routerLink]="['/home']" routerLinkActive="active">
            <button class="nav-button">USUARIOS</button>
        </a>
        <a [routerLink]="['/about']" routerLinkActive="active">
            <button class="nav-button">ROLES</button>
        </a>
        <a [routerLink]="['/usuarios/permisos']" routerLinkActive="active">
            <button class="nav-button">PERMISOS</button>
        </a>
    </div>

    <div class="rectangle">
        <div class="content-container">
            <div class="dropdown-container">
                <label for="dropdown1">Rol*</label>
                <select id="dropdown1">
                    <option value="option1">Agente de seguimiento</option>
                    <option value="option2">Administrador</option>
                    <option value="option3">Funcionario</option>
                </select>
            </div>
            <div class="dropdown-container">
                <label for="dropdown2">Modulo*</label>
                <select id="dropdown2">
                    <option value="option1">Usuarios 1</option>
                    <option value="option2">Usuarios 2</option>
                    <option value="option3">Usuarios 3</option>
                </select>
            </div>
            <div class="buttons-container">
                <button class="consultar-button">CONSULTAR</button>
                <button class="limpiar-button">LIMPIAR</button>
            </div>
        </div>
    </div>

    <div class="rectangle">
        <div class="header">
            <button class="top-right-button">GUARDAR</button>
        </div>
        <br>
        <table class="data-table">
            <thead>
                <tr>
                    <th class="large-column">Funcionalidad</th>
                    <th>Crear</th>
                    <th>Consultar</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Historico NNA</td>
                    <td><p-checkbox [(ngModel)]="checked1" [binary]="true" [checkboxIcon]="checked1 ? 'pi pi-check' : 'pi pi-times'" /></td>
                    <td><p-checkbox [(ngModel)]="checked2" [binary]="true" [checkboxIcon]="checked2 ? 'pi pi-check' : 'pi pi-times'" /></td>
                    <td><p-checkbox [(ngModel)]="checked3" [binary]="true" [checkboxIcon]="checked3 ? 'pi pi-check' : 'pi pi-times'" /></td>
                    <td><p-checkbox [(ngModel)]="checked4" [binary]="true" [checkboxIcon]="checked4 ? 'pi pi-check' : 'pi pi-times'" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>