::ng-deep .p-breadcrumb {
  background: transparent;
  padding: 0px;
  border: none;
  font-size: 1.2rem; /* Cambia a lo que necesites */
}

::ng-deep .p-breadcrumb .p-breadcrumb-list {
  background: transparent;
  border: none;
  padding-left: 0px;
}

::ng-deep .p-breadcrumb .p-breadcrumb-list .p-breadcrumb-item a {
  background: transparent;
  border: none;
}

::ng-deep .p-breadcrumb-list{
  margin-bottom: 0% !important;
}

::ng-deep .inline-spinner {
  width: 1.2rem;      /* igual a altura de letra */
  height: 1.2rem;
  vertical-align: middle; /* alinea con el texto */
}

::ng-deep .inline-spinner svg {
  width: 100%;
  height: 100%;
}