a {
  text-decoration: none;
}

.banner {
  background: #F3DAA4;
  border-left: 6px solid #ff9600;
}

.banner-text {
  color: #E17132;
  font-size: 13pt;
}

.banner-title {
  color: white;
  font-weight: 5000;
  font-size: 70pt;
  font-family: "Arial Rounded MT"
}

.btn-custom {
  display: flex;
  width: 100%;
  padding: 20px 24px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  align-items: center;      
   
}

.btn-primary-custom {
  background: #72b4aa;
  color: white;
}

.btn-success-custom {
  background: #ff9600;
  color: white;
}

.link-text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  opacity: 0.9;
}

.saludo {
  font-family: Montserrat;font-size: 24px;font-weight: 500;line-height: 29.26px;text-align: left;
  color: #000000;
}
