<br>
<app-spinner *ngIf="!cargado"></app-spinner>
<div class="container-fluid" *ngIf="cargado">
  <div class="p-6 bg-gray-50 min-h-screen">
    <app-tarjeta-cabecera [usuario]=usuario></app-tarjeta-cabecera>

    <!-- Banner principal -->
    <div class="banner rounded rounded-3 px-4 pt-5 pb-4 mb-5">
      <div class="d-flex flex-column">
        <p class="banner-text mb-4">Le damos la bienvenida a</p>
        <h1 class="banner-title">SECÁNI</h1>
        <p class="banner-text mt-4">
          Le damos la bienvenida a SECÁNI Estrategia de seguimiento de alertas tempranas para la atención de niños,
          niñas
          y adolescentes con cáncer infantil.
        </p>
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="row mb-5">
      <div class="col-md-6 col-12">
        <button class="btn-custom btn-primary-custom">
          <i class="pi pi-file-pdf" style="font-size: 2rem; margin-right: 8px;"></i>
          Manual de usuario SECÁNI
        </button>
      </div>
      <div class="col-md-6 col-12">
        <a href="https://www.supersalud.gov.co/es-co/atencion-ciudadano/pqrd" 
         class="btn-custom btn-success-custom"
          target="_blank">
          <i class="pi pi-link" style="font-size: 2rem; margin-right: 8px;"></i>
          ¿Cómo interponer una queja a la Supersalud?
        </a>
      </div>
    </div>

    <!-- Canales de atención -->
    <div>
      <p class="font-semibold mb-2">Canales de atención:</p>
      <ul class="list-disc list-inside text-blue-600">
        <li>
          <a 
            href="https://www.supersalud.gov.co/es-co/transparencia-y-acceso-a-la-informacion-publica/informacion-especifica-para-grupos-de-interes/canales-de-atencion-eps" 
            target="_blank">
            EPS
          </a>
        </li>
        <li>
          <a href="https://www.supersalud.gov.co/es-co" target="_blank">
            Superintendencia nacional de salud
          </a>
        </li>
      </ul>
    </div>
  </div>