a {
    text-decoration: none;
}

.banner {
  background: linear-gradient(90deg, #fdf3e3, #ffe0b2);
  border-left: 6px solid #ff9600;
}

.banner-text {
    color: #d18452;
    font-size: 13pt;
}

.banner-title {
    color: white;
    font-weight: 800;
    font-size: 40pt;
}

.btn-custom {
  width: auto;
  min-width: 220px;
  padding: 12px 20px;
  font-size: 14px;
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
}

.btn-primary-custom {
    background: #72b4aa;
    color: white;
}

.btn-success-custom {
    background: #ff9600;
    color: white;
}

.link-text {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    opacity: 0.9;
}

.saludo {
  font-family: Montserrat;font-size: 24px;font-weight: 500;line-height: 29.26px;text-align: left;
  color: #000000;
}
