<body class="formato-fondo fuente-letra pe-4">
    <div class="row mb-3  align-items-center">
        <div class="col-12 d-flex justify-content-between">
            <p-breadcrumb class="" [model]="items">
                <ng-template pTemplate="item" let-item>
                    <ng-container *ngIf="item.route; else elseBlock">
                        <a [routerLink]="item.route" class="p-menuitem-link">
                            <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                            <span class="text-primary font-semibold">{{ item.label }}</span>
                        </a>
                    </ng-container>
                    <ng-template #elseBlock>
                        <a [href]="item.url">
                            <span class="text-color">{{ item.label }}</span>
                        </a>
                    </ng-template>
                </ng-template>
            </p-breadcrumb>
            <div>
                Estado: <span class="badge font-semibold ms-3" style="background-color: #73b7ad; width: 100px;">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-seguimiento-steps [stepsCount]="4" [activeIndex]="3" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p-card>
                <div class="row">
                    <div class="col-6 pe-5">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="fw-bold pe-3 fs-5">¿Ha presentado dificultades en los siguientes procesos?</label>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.autorizacionMedicamentos"
                                        [binary]="true"
                                        label="Autorización de medicamentos"
                                        name="autorizacionMedicamentos" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.entregaMedicamentosLAP"
                                        [binary]="true"
                                        label="Entrega de medicamentos LAP"
                                        name="entregaMedicamentosLAP" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.entregaMedicamentosNoLAP"
                                        [binary]="true"
                                        label="Entrega de medicamentos no LAP"
                                        name="entregaMedicamentosNoLAP" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.asignacionCitas"
                                        [binary]="true"
                                        label="Asignación de citas"
                                        name="asignacionCitas" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.leHanCobradoCopagosCuotas"
                                        [binary]="true"
                                        label="Le han cobrado copagos o cuotas moderadoras"
                                        name="leHanCobradoCopagosCuotas" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.autoriacionProcedimientos"
                                        [binary]="true"
                                        label="Autorización de procedimientos"
                                        name="autoriacionProcedimientos" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.remisionInstitucionesEspecializadas"
                                        [binary]="true"
                                        label="Remisión a instituciones especializadas"
                                        name="leHanCobradoCopagosCuotas" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.malaAtencionIPS"
                                        [binary]="true"
                                        label="Mala atención en la IPS"
                                        name="malaAtencionIPS"
                                        (onChange)="MalaAtencion()" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2 flex flex-wrap p-fluid" *ngIf="dificultades.malaAtencionIPS">
                            <div class="col-8 flex-auto" style="padding-left: 40px;">
                                <input id="malaAtencionIPSCual" type="text" pInputText [(ngModel)]="dificultades.malaAtencionIPSCual" placeholder="¿Cuál?" [disabled]="!dificultades.malaAtencionIPS">
                            </div>
                        </div>
                        <div class="row align-items-center mb-2">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.fallasMIPRES"
                                        [binary]="true"
                                        label="Fallas en MIPRES"
                                        name="fallasMIPRES" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-12">
                                <div class="flex align-items-center">
                                    <p-checkbox 
                                        [(ngModel)]="dificultades.fallaConventioEAPBeIPS"
                                        [binary]="true"
                                        label="Falla en el convenio entre la EAPB e IPS tratante"
                                        name="fallaConventioEAPBeIPS" />
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2 flex flex-wrap p-fluid">
                            <div class="col-4">
                                <label for="estado" class="fw-bold">Categoria Alerta</label>
                            </div>
                            <div class="col-8 flex-auto">
                                <p-dropdown
                                    [(ngModel)]="selectedCategoriaAlerta"
                                    [options]="categoriaAlerta"
                                    optionLabel="nombre"
                                    [filter]="true"
                                    filterBy="nombre"
                                    [showClear]="true"
                                    name="categoriaAlerta"
                                    id="categoriaAlerta"
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class="row align-items-center mb-2 flex flex-wrap p-fluid">
                            <div class="col-4">
                                <label for="estado" class="fw-bold">Subcategoria Alerta</label>
                            </div>
                            <div class="col-8 flex-auto">
                                <p-dropdown
                                    [(ngModel)]="selectedSubcategoriaAlerta"
                                    [options]="subcategoriaAlerta"
                                    optionLabel="nombre"
                                    [filter]="true"
                                    filterBy="nombre"
                                    [showClear]="true"
                                    name="subcategoriaAlerta"
                                    id="subcategoriaAlerta"
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12 text-end">
                                <button class="btn  btn-sm text-white rounded-3" type="submit" style="background-color: #73b7ad;" (click)="AgregarAlerta()">
                                    <i class="pi pi-plus"></i> Agregar Alerta
                                </button>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2 flex flex-wrap p-fluid" *ngIf="alertas.length > 0">
                            <div class="col-12">
                                <p-table [value]="alertas" [paginator]="true" [rows]="10" [responsive]="true">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="header-th">Categoria</th>
                                            <th class="header-th">Subcategoria</th>
                                            <th class="header-th" [width]="50"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-alerta>
                                        <tr>
                                            <td>{{ alerta.categoriaAlerta }}</td>
                                            <td>{{ alerta.subcategoriaAlerta }}</td>
                                            <td>
                                                <i class="bi bi-trash" style="color: #73b7ad;" (click)="BorrarAlerta(alerta.activeIndex)"></i>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 pe-5">
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="fw-bold pe-3 fs-5">Información de traslados</label>
                            </div>
                        </div>
                        <div class="row align-items-center mb-3 flex flex-wrap p-fluid">
                            <div class="col-8">
                                <label for="estado" class="fw-bold">¿Ha sido trasladado de institución?</label>
                            </div>
                            <div class="col-4 button-group d-inline-flex align-items-center d-flex justify-content-end">
                                <button class="btn col-auto rounded-2 text-center me-2 py-0" [ngClass]="{'active': dificultades.haSidoTrasladado}" style="width: 70px;" (click)="HaSidoTrasladado(true)">SÍ</button>
                                <button class="btn col-auto rounded-2 text-center me-0 py-0" [ngClass]="{'active': !dificultades.haSidoTrasladado}" style="width: 70px;" (click)="HaSidoTrasladado(false)">NO</button>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2" *ngIf="dificultades.haSidoTrasladado">
                            <div class="col-4">
                                <label for="numeroTraslados" class="fw-bold">Número de traslados</label>
                            </div>
                            <div class="col-8 p-fluid">
                                <input id="numeroTraslados" type="number" min="1" pInputText [(ngModel)]="dificultades.numeroTraslados" (change)="NumeroTraslados()">
                            </div>
                        </div>
                        <div *ngFor="let traslado of trasladosArray; let i = index" class="row align-items-center mb-2 flex flex-wrap p-fluid">
                            <div class="col-4">
                                <label for="ips-{{i}}" class="fw-bold">IPS</label>
                            </div>
                            <div class="col-8 flex-auto">
                                <p-dropdown
                                    [(ngModel)]="selectedIPS[i]"
                                    [options]="IPS"
                                    optionLabel="nombre"
                                    [filter]="true"
                                    filterBy="nombre"
                                    [showClear]="true"
                                    name="IPS-{{i}}"
                                    id="ips-{{i}}"
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                        <div class="row mb-3 p-fluid">
                            <div class="col-8">
                                <label for="estado" class="fw-bold">¿Ha tenido que recurrir a algún tipo de acción legal para acceder a la atención?</label>
                            </div>
                            <div class="col-4 button-group d-inline-flex align-items-center d-flex justify-content-end">
                                <button class="btn col-auto rounded-2 text-center me-2 py-0" [ngClass]="{'active': dificultades.haRecurridoAccionLegalAtencion}" style="width: 70px;" (click)="AccionesLegales(true)">SÍ</button>
                                <button class="btn col-auto rounded-2 text-center me-0 py-0" [ngClass]="{'active': !dificultades.haRecurridoAccionLegalAtencion}" style="width: 70px;" (click)="AccionesLegales(false)">NO</button>
                            </div>
                        </div>
                        <div class="row mb-2 p-fluid" *ngIf="dificultades.haRecurridoAccionLegalAtencion">
                            <div class="col-4">
                                <label for="motivo" class="fw-bold">Motivo</label>
                            </div>
                            <div class="col-8 p-fluid">
                                <textarea id="motivo" pInputText rows="4" [(ngModel)]="dificultades.motivo" placeholder="Escriba aquí"></textarea>
                            </div>
                        </div>
                        <div class="row align-items-center mb-2 p-fluid" *ngIf="dificultades.haRecurridoAccionLegalAtencion">
                            <div class="col-4">
                                <label for="estado" class="fw-bold">Tipo de recurso</label>
                            </div>
                            <div class="col-8 flex-auto">
                                <p-dropdown
                                    [(ngModel)]="selectedTipoRecurso"
                                    [options]="tiposRecursos"
                                    optionLabel="nombre"
                                    [filter]="true"
                                    filterBy="nombre"
                                    [showClear]="true"
                                    name="tiposRecursos"
                                    id="tiposRecursos"
                                    placeholder="Seleccione" />
                            </div>
                        </div>
                    </div>
                </div>
            </p-card>
            <div class="row align-items-center mt-3">
                <div class="col-12 text-center">
                    <button class="btn text-white rounded-4 btn-lg me-3" type="submit" style="background-color: #fac87e; width: 320px;">GUARDAR Y REAGENDAR</button>
                    <button class="btn text-white rounded-4 btn-lg" type="submit" style="background-color: #ff9801; width: 200px;" (click)="Siguiente()" >SIGUIENTE</button>
                </div>
            </div>
        </div>
    </div>
</body>
