<div class="container-fluid">
  <div class="mt-5 mb-4 d-flex justify-content-between">
    <h1>Seguimientos</h1>
    <p-button severity="success" (click)="showDialog()" label="Solicitar" />
  </div>

  <div class="card border border-0 pt-2">
    <div class="card-body">
      <p-table [value]="seguimientos" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 25, 50]" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              <div class="d-flex align-items-center justify-content-between">
                ID
                <p-sortIcon field="id" />
                <p-columnFilter type="text" field="id" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th pSortableColumn="nombre">
              <div class="d-flex align-items-center justify-content-between">
                Nombre
                <p-sortIcon field="nombre" />
                <p-columnFilter type="text" field="nombre" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th pSortableColumn="tipoIdentificacion">
              <div class="d-flex align-items-center justify-content-between">
                Tipo Identificación
                <p-sortIcon field="tipoIdentificacion" />
                <p-columnFilter type="text" field="tipoIdentificacion" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th pSortableColumn="numeroIdentificacion">
              <div class="d-flex align-items-center justify-content-between">
                Número identificación
                <p-sortIcon field="numeroIdentificacion" />
                <p-columnFilter type="text" field="numeroIdentificacion" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th pSortableColumn="parentesco">
              <div class="d-flex align-items-center justify-content-between">
                Parentesco con NNA
                <p-sortIcon field="parentesco" />
                <p-columnFilter type="text" field="parentesco" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th pSortableColumn="diagnostico">
              <div class="d-flex align-items-center justify-content-between">
                Diagnostico
                <p-sortIcon field="diagnostico" />
                <p-columnFilter type="text" field="diagnostico" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th pSortableColumn="aseguradora">
              <div class="d-flex align-items-center justify-content-between">
                Aseguradora
                <p-sortIcon field="aseguradora" />
                <p-columnFilter type="text" field="aseguradora" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th pSortableColumn="estado">
              <div class="d-flex align-items-center justify-content-between">
                Estado
                <p-sortIcon field="estado" />
                <p-columnFilter type="text" field="estado" display="menu" class="ms-auto"/>
              </div>
            </th>
            <th>
              Consultar seguimiento
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-seguimiento>
          <tr>
            <td>{{ seguimiento.id }}</td>
            <td>{{ seguimiento.nombre }}</td>
            <td>{{ seguimiento.tipoIdentificacion }}</td>
            <td>{{ seguimiento.numeroIdentificacion }}</td>
            <td>{{ seguimiento.parentesco }}</td>
            <td>{{ seguimiento.diagnostico }}</td>
            <td>{{ seguimiento.aseguradora }}</td>
            <td>{{ seguimiento.estado }}</td>
            <td>

            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9" class="text-center">
              No se encontraron actividades de seguimiento.
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <p-dialog
    header="Solicitar seguimiento"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '40vw' }"
    [(visible)]="visible"
    (onHide)="hiddenDialog()"
  >
    @if (!estaFallecido && !esMenorEdad && !hayRecaida && estaRegistrado) {
      <form class="px-5 mt-4" [formGroup]="seguimientoForm" (ngSubmit)="onSubmitSeguimiento()">
        <!-- Parentesco -->
        <div class="mb-4">
          <label class="mb-1" for="parentesco">Parentesco</label>
          <p-dropdown
            [options]="parentescos"
            formControlName="parentesco"
            placeholder="Seleccione"
            id="parentesco"
            styleClass="w-100"
          ></p-dropdown>
        </div>

        <!-- Tipo de Identificación -->
        <div class="mb-4">
          <label class="mb-1" for="tipoIdentificacion">Tipo de identificación del menor</label>
          <p-dropdown
            [options]="tipoIdentificacion"
            formControlName="tipoIdentificacion"
            placeholder="Seleccione"
            id="tipoIdentificacion"
            styleClass="w-100"
          ></p-dropdown>
        </div>

        <!-- Número de Identificación -->
        <div class="mb-4">
          <label class="mb-1" for="numeroIdentificacion">Número de identificación del menor</label>
          <input
            pInputText
            type="text"
            formControlName="numeroIdentificacion"
            id="numeroIdentificacion"
            class="w-100"
          />
        </div>

        <!-- Botones -->
        <div class="d-flex justify-content-center mt-5">
          <p-button styleClass="me-1" type="button" (click)="hiddenDialog()" severity="secondary" label="Cancelar"></p-button>
          <p-button type="submit" severity="success" label="Solicitar"></p-button>
        </div>
      </form>
    }

    @if ((estaFallecido || esMenorEdad) && !hayRecaida) {
      <div class="text-center px-4 my-4">
        <p class="mb-3">
          @if (esMenorEdad ) {
            La solicitud no puede ser generada dado que el seguimiento solicitado es para un Mayor de edad.
          }
          @if (estaFallecido) {
            La solicitud no puede ser generada debido a que el menor se encuentra reportado como fallecido.
          }
        </p>
        <p class="fw-bold mt-4 mb-1">{{ nnaInfo.nombre }}</p>
        <p class="fw-bold">{{ nnaInfo.identificacion }}</p>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <p-button type="button" (click)="closeInformacionDialog()" severity="secondary" label="Volver"></p-button>
      </div>
    }

    @if (!estaRegistrado) {
      <div class="text-center px-4 my-4">
        <p class="mb-1">El menor no ha sido registrado en el sistema.</p>
        <p class="mb-3">¿Esta seguro que los datos son correctos?</p>

        <p class="fw-bold mt-4 mb-1">{{ nnaInfo.nombre }}</p>
        <p class="fw-bold">{{ nnaInfo.identificacion }}</p>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <p-button type="button" styleClass="me-1" (click)="closeInformacionDialog()" severity="secondary" label="No, corregir"></p-button>
        <p-button type="button" severity="success" [routerLink]="['/cuidador/seguimientos/nuevo']" label="Si, continuar"></p-button>
      </div>
    }

    @if (hayRecaida && !(estaFallecido || esMenorEdad)) {
      <form class="px-5 mt-4" [formGroup]="recaidaForm" (ngSubmit)="onSubmitRecaida()">
        <div class="text-center mb-4">
          <p class="fw-bold mb-1">Ana María Ruiz Bolaños</p>
          <p class="fw-bold">R.C. 1.035.201.226</p>
        </div>

        <!-- Recaída -->
        <div class="mb-3">
          <label class="mb-1" for="recaida">¿Tuvo recaída?</label>
          <p-dropdown
            [options]="recaidadOpciones"
            formControlName="recaida"
            placeholder="Seleccione"
            id="recaida"
            styleClass="w-100"
          ></p-dropdown>
        </div>

        <!-- Botón Siguiente -->
        <div class="d-flex justify-content-center mt-4">
          <p-button type="submit" severity="success" label="Siguiente"></p-button>
        </div>
      </form>
    }
  </p-dialog>

  <p-toast />
</div>
