.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content {
    /* Estilos adicionales para el contenido izquierdo si es necesario */
  }
  
  .right-content {
    align-items: center;
    text-align: center;
  }
  
  /* Cambiar el color del fondo cuando el interruptor está activado */
::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: #73B7AD; /* Cambia este color por el que desees */
}

/* Cambiar el color del fondo cuando el interruptor está desactivado */
::ng-deep .p-inputswitch-slider {
    background-color: #ccc; /* Cambia este color por el que desees */
}

/* Cambiar el color del interruptor (círculo) */
::ng-deep .p-inputswitch-slider:before {
    background-color: #ffffff; /* Cambia este color por el que desees */
}