<body *ngIf="vistaPerfil === 'vistaEntidadEAPB'" class="formato-fondo fuente-letra">
    <div class="header-container">
        <h1>Mi Perfil</h1>
        <div class="top-right-buttons">
            <app-boton-notificacion></app-boton-notificacion>
        </div>
    </div>

    <br>

    <p-card>
        <div class="card-content">
            <div class="left-content">
                <!-- Componentes alineados a la izquierda -->
                <h2>Nombre entidad territorial</h2>
                <span style="font-weight: bold;">Representante Legal: </span>
                <span>{{ usuario.fullName ?? '' }}</span><br>
                <span style="font-weight: bold;">Correo: </span>
                <span>{{ usuario.email }}</span>
            </div>
            <div class="right-content">
                <p-card [style]="{ backgroundColor: '#73b7ad48' }">
                    <span style="margin-right: 150px; font-weight: bold;">Estado</span>
                    <p-inputSwitch [(ngModel)]="estadoUsuario"
                        (onChange)="onEstadoChange($event.checked)"></p-inputSwitch>
                </p-card>
            </div>
        </div>
    </p-card>

    <br>

    <p-card>
        <div class="header">
            <button class="btn-crear" (click)="onCreate()">CREAR</button>
        </div>
        <br>
        <div>
            <p-table [value]="data" [paginator]="true" [rows]="5" [first]="first" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }" (onPage)="pageChange($event)"
                [rowsPerPageOptions]="[10, 25, 50]"
                currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombres y apellidos</th>
                        <th>Cargo</th>
                        <th>Estado</th>
                        <th>Numero de contacto</th>
                        <th>Correo electronico</th>
                        <th>Editar</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{ data.nombreApe }}</td>
                        <td>{{ data.cargo }}</td>
                        <td>{{ data.estado }}</td>
                        <td>{{ data.telefono }}</td>
                        <td>{{ data.correo }}</td>
                        <td class="table-actions">
                            <button class="btn-round" (click)="onEdit(data)">
                                <i class="pi pi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>

    <app-modal-crear [item]="selectedItem" [isEditing]="isEditing"></app-modal-crear>
</body>

<body *ngIf="vistaPerfil === 'vistaUsuario'" class="formato-fondo fuente-letra">
    <div class="header-container">
        <h1>Mi Perfil</h1>
        <div class="top-right-buttons">
            <app-boton-notificacion></app-boton-notificacion>
        </div>
    </div>

    <br>

    <p-card>
        <div class="card-content">
            <div class="left-content">
                <span>{{ usuario.fullName ?? '' }}</span><br>
                <span>{{ usuario.email ?? '' }}</span><br>
                <span style="font-weight: bold;">Rol: </span>
                <span>{{ (usuario.roles?.join(', ') ?? '') || 'Ninguno' }}</span>
            </div>
            <br>
            <div class="right-content">
                <label>Telefono de Contacto</label>
                <input type="text" id="exampleInput" class="form-control" style="text-align: center;"
                    value="{{ usuario.telefonos ?? '' }}" disabled>
            </div>
            <br>
            <div class="right-content">
                <p-card [style]="{ backgroundColor: '#73b7ad48' }">
                    <span style="margin-right: 150px; font-weight: bold;">Estado</span>
                    <p-inputSwitch [(ngModel)]="estadoUsuario" (onChange)="onEstadoChange($event.checked)"></p-inputSwitch>
                </p-card>
            </div>
        </div>
    </p-card>

    <br>

    <p-card>
        <div class="row">
            <!-- Primera tabla a la izquierda -->
            <div class="col-12 col-md-6">
                <h5>Días laborales y horario de trabajo</h5><br>
                <p-table [value]="datosHorarioAgente">
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th>Dia</th>
                            <th>Hora Inicio</th>
                            <th>Hora Fin</th>
                            <th>Editar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dato>
                        <tr>
                            <td>
                                <p-checkbox [binary]="true" [(ngModel)]="dato.diaActivo"></p-checkbox>
                            </td>
                            <td>{{ dato.dia }}</td>
                            <td>{{ dato.horaEntrada }}</td>
                            <td>{{ dato.horaSalida }}</td>
                            <td class="table-actions">
                                <button class="btn-round" (click)="showWorkScheduleDialog(data)">
                                    <i class="pi pi-pencil"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <br>
            <br>

            <!-- Segunda tabla a la derecha -->
            <div class="col-12 col-md-6">
                <h5>Fechas de ausencia</h5><br>

                <div class="d-flex" style="gap: 10px;"> <!-- Utiliza d-flex para un diseño flexible -->
                    <p-calendar [(ngModel)]="selectedDate" dateFormat="dd/mm/yy" placeholder="Selecciona una fecha"
                        [showIcon]="true" styleClass="w-full">
                    </p-calendar>

                    <button class="btn-round" (click)="openAbsenceDialog()">
                        <i class="pi pi-plus"></i>
                    </button>
                </div>

                <p-table [value]="datosAusenciasAgente">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Fecha</th>
                            <th>Motivo</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dato>
                        <tr>
                            <td>{{ dato.fecha }}</td>
                            <td>{{ dato.motivo }}</td>
                            <td class="table-actions">
                                <button class="btn-round" (click)="deleteAbsence(data.id)">
                                    <i class="pi pi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>

</body>


<p-dialog [(visible)]="visibleWorkScheduleForm" [modal]="true" [closable]="false" [style]="{width: '400px'}">
    <ng-template pTemplate="header">
        <h3>Work Schedule</h3>
    </ng-template>

    <form [formGroup]="workScheduleForm" class="p-fluid space-y-3">
        <div>
            <strong>Monday</strong>
        </div>

        <!-- Start -->
        <div class="field grid" formGroupName="start">
            <label class="col-3">Start:</label>
            <div class="col-9 flex gap-2">
                <input pInputText type="number" formControlName="hh" placeholder="HH" class="w-12" />
                <input pInputText type="number" formControlName="mm" placeholder="MM" class="w-12" />

                <div class="flex items-center gap-2">
                    <p-radioButton formControlName="meridiem" value="AM" inputId="am-start"></p-radioButton>
                    <label for="am-start">AM</label>
                </div>
                <div class="flex items-center gap-2">
                    <p-radioButton formControlName="meridiem" value="PM" inputId="pm-start"></p-radioButton>
                    <label for="pm-start">PM</label>
                </div>
            </div>
        </div>

        <!-- End -->
        <div class="field grid" formGroupName="end">
            <label class="col-3">End:</label>
            <div class="col-9 flex gap-2">
                <input pInputText type="number" formControlName="hh" placeholder="HH" class="w-12" />
                <input pInputText type="number" formControlName="mm" placeholder="MM" class="w-12" />

                <div class="flex items-center gap-2">
                    <p-radioButton formControlName="meridiem" value="AM" inputId="am-end"></p-radioButton>
                    <label for="am-end">AM</label>
                </div>
                <div class="flex items-center gap-2">
                    <p-radioButton formControlName="meridiem" value="PM" inputId="pm-end"></p-radioButton>
                    <label for="pm-end">PM</label>
                </div>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton label="CANCEL" class="p-button-secondary" (click)="closeWorkScheduleDialog()"></button>
        <button pButton label="SAVE" class="p-button-success" (click)="saveSchedule()"></button>
    </ng-template>
</p-dialog>

<!-- Modal para registrar ausencia -->
<p-dialog header="Fecha de ausencia"
          [(visible)]="visibleAbsenceForm"
          [modal]="true"
          [closable]="true"
          [style]="{width: '400px'}">

  <div class="text-center mb-3">
    <h3>{{ selectedDate | date:'dd/MM/yyyy' }}</h3>
  </div>

  <form [formGroup]="absenceForm">
    <div class="p-field">
      <label for="reason">Motivo*</label>
      <input id="reason"
             type="text"
             pInputText
             formControlName="reason"
             placeholder="Escribe el motivo"/>
      <small *ngIf="absenceForm.get('reason')?.invalid && absenceForm.get('reason')?.touched"
             class="p-error">
        El motivo es obligatorio.
      </small>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <button pButton label="Cancelar" class="p-button-secondary" (click)="cancelAbsenceDialog()"></button>
    <button pButton label="Guardar" class="p-button-success" (click)="saveAbsence()"></button>
  </ng-template>
</p-dialog>